body {
  margin: 0;
  font-family: "Oswald", sans-serif, arial;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  color: #333333;
  cursor: none;
  background-color: #1383d2;
  cursor:
    url("images/ball_01.png") 16 16,
    auto !important;
  /* width */
  ::-webkit-scrollbar {
    width: 13px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 0px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00aeef;
    border-radius: 0px;
    height: 20px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #042579;
  }

  .playbook {
    .header {
      //background-color: #7fd6f7;
      background-color: #1383d2;
      //background: #0434C4 ;
      //background: linear-gradient(0deg,rgba(4, 52, 196, 1) 0%, #1ed760 74%);

      .banner {
        top: 52%;
        right: 0;
        left: 0;

        button {
          display: inline-block;
          position: relative;
          border: none;
          color: #fff;
          font-size: 20px;
          background: #00aeef;
          cursor:
            url("images/ball_01_01.png") 16 16,
            auto !important;

          a {
            color: #fff;
            text-decoration: none;
            transition: 0.5s all;
            display: block;
            padding: 5px 40px;
            font-weight: 600;
            cursor:
              url("images/ball_01_01.png") 16 16,
              auto !important;

            &::before {
              content: "";
              width: 2px;
              height: 0;
              left: 0;
              top: 0;
              cursor:
                url("images/ball_01_01.png") 16 16,
                auto !important;
              position: absolute;
              transition: all 0.2s linear;
              background: #042579;
            }

            &::after {
              content: "";
              width: 2px;
              height: 0;
              right: 0;
              bottom: 0;
              cursor:
                url("images/ball_01_01.png") 16 16,
                auto !important;
              position: absolute;
              transition: all 0.2s linear;
              background: #042579;
            }
          }

          &::before {
            content: "";
            left: 0;
            top: 0;
            width: 0;
            height: 2px;
            position: absolute;
            cursor:
              url("images/ball_01_01.png") 16 16,
              auto !important;
            transition: all 0.2s linear;
            background: #042579;
          }

          &::after {
            content: "";
            right: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            position: absolute;
            cursor:
              url("images/ball_01_01.png") 16 16,
              auto !important;
            transition: all 0.2s linear;
            background: #042579;
          }

          &:hover::before,
          &:hover::after {
            width: 100%;
          }

          &:hover a::before,
          &:hover a::after {
            height: 100%;
          }
        }

        .btn::after {
          &::after {
            left: 0;
            bottom: 0;
            transition-delay: 0.6s;
          }

          &::before {
            right: 0;
            top: 0;
            transition-delay: 0.2s;
          }

          a {
            &::after {
              right: 0;
              bottom: 0;
              transition-delay: 1.5s;
            }

            &::before {
              left: 0;
              top: 0;
              transition-delay: 1.5s;
            }
          }

          &:hover {
            &::after {
              transition-delay: 1.5s;
            }

            &::before {
              transition-delay: 1.5s;
            }

            a {
              &::after {
                transition-delay: 1.5s;
              }

              &::before {
                transition-delay: 1.5s;
              }
            }
          }
        }
      }
    }

    .flow-chart {
      .title {
        background-color: #7fd6f7;
        //background-color:#0b86f8;
        //background: #00eeff;
        //background: linear-gradient(0deg,#7fd6f7 0%, #1babe4 74%);
        box-shadow: 1.5px 10px 15px #3232324d;
        position: sticky;
        top: 0;
        z-index: 9;
        color: #00072b;

        h3 {
          font-weight: 800;
          margin-bottom: 3px;
        }

        p {
          font-family: "mulish", sans-serif;
          margin-bottom: 0;
        }
      }

      .content {
        .container {
          background-image: url(images/bg-3.png);
          background-repeat: no-repeat;
          background-position: top;
          background-size: contain;
          top: 100px;
          left: 0;
          right: 0;
          bottom: 0;
          transition: transform 0.35s ease;

          // When dialog is open, scale down and shift container left to balance layout
          @at-root .playbook.dialog-open .content .container {
            transform: scale(0.68) translateX(-30%);
            transform-origin: center 20%;

            @media (min-width: 577px) and (max-width: 1024px) {
              transform: scale(0.6) translateX(-42%);
            }

            @media (max-width: 576px) {
              transform: scale(1) translateX(0); // No shift on mobile since dialog is full width
            }
          }

          .node {
            background: #fff;
            padding: 10px 19px;
            border-radius: 10px;
            text-align: center;
            width: 100%;
            max-width: max-content;
            position: relative;
            z-index: 7;
            transition: all 0.5s ease;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid #8400ff;
            box-shadow: 3.5px 3.5px #8400ff;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 150ms;
            transition-property: all;

            &:hover {
              background-color: #8400ff54;
              box-shadow: none;
              transform: translate(1px, 2px);
              cursor:
                url("images/ball_01_01.png") 16 16,
                auto !important;
            }

            &.selected {
              background-color: #8400ff54;
            }
          }

          .circle {
            border-radius: 50%;
            aspect-ratio: 1 / 1;
            width: 140px;
            height: 140px;
            line-height: 1.2;
            border: 1px solid #700029;
            box-shadow: 1.5px 1.5px #700029;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 150ms;
            transition-property: all;

            &:hover {
              background-color: #70002973;
              box-shadow: none;
              transform: translate(1px, 2px);
              cursor:
                url("images/ball_01_01.png") 16 16,
                auto !important;
            }

            span {
              font-size: 0.8em;
              font-weight: normal;
            }

            &.selected {
              background-color: #70002973;
            }
          }

          .box {
            min-width: 120px;
            //max-width: 50%;
          }

          .rhombus {
            display: flex;
            justify-content: center;
            margin-top: 20px;

            #route {
              width: 100px;
              height: 100px;
              background: #fff;
              display: flex;
              align-items: center;
              justify-content: center;
              transform: rotate(45deg); /* Rotates the box to make a diamond */
              transition: all 0.25s ease;
              color: transparent;
              border: 1px solid #0b86f8;
              box-shadow:
                1px 1px #0b86f8,
                2px -2px #0b86f8;
              transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
              transition-duration: 150ms;
              transition-property: all;

              &::after {
                content: "ROUTE";
                transform: rotate(-45deg);
                position: absolute;
                color: #333;
                font-weight: bold;
              }

              &:hover {
                background-color: #7fd5f7df;
                box-shadow: none;
                transform: rotate(45deg) translate(1px, 2px);
              }

              &.selected {
                background-color: #7fd5f7df;
              }
            }
          }

          @media (max-width: 425px) {
            top: 10px;
          }

          @media (max-width: 767px) {
            background-image: none;
            background-color: #ec7837 !important;
          }
        }
      }

      .dialog {
        .dialog-content {
          height: 100%;
          width: 28%;
          top: 0;
          right: 0;
          font-weight: normal;
          font-family: Mulish, sans-serif, arial;
          font-size: 17px;
          transform: translateX(100%);
          transition: transform 0.35s ease;
          z-index: 1000;
          background-color: #fff;

          @media (max-width: 576px) {
            width: 100%;
          }

          @media (min-width: 577px) and (max-width: 1024px) {
            width: 50%;
          }

          img:hover {
            cursor: zoom-in;
          }

          .dailog-header {
            font-family: "Oswald", Arial, sans-serif;
            width: 100%;
            background-color: #00aeef;
            border-bottom: 1px solid #042579;

            .title-wrapper {
              h2 {
                font-size: 30px;
                line-height: 35px;
                font-weight: 600;
                color: #fff;
                padding-top: 8px;
              }

              span {
                font-size: 18px;
                line-height: 20px;
                font-weight: normal;
                font-family: mulish, Arial, sans-serif;
              }
            }

            .cancel {
              button {
                cursor:
                  url("/images/ball_01.png") 16 16,
                  auto !important;
                font-family: mulish, Helvetica, sans-serif;
                font-size: 20px;
                line-height: 20px;
                font-weight: bold;
                border: none;
                background: transparent;
                // padding: 10px 7px;
                border-radius: 20px 19px;
                color: red;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 150ms;
                transition-property: all;

                img {
                  cursor:
                    url("/images/ball_01.png") 16 16,
                    auto !important;
                }

                &:hover {
                  box-shadow: none;
                  transform: translate(1px, 2px);
                  box-shadow: 1.5px 1.5px #000000;
                }
              }
            }
          }

          .dialog-body {
            padding: 0px 30px !important;
            overflow-y: auto;
            background-color: #ffffff;
            flex: 5;
            width: 100%;

            .dialog-content {
              width: 100%;
              padding: 20px 0;

              .semcdr-flow {
                font-size: 13px;
                font-weight: 800;
              }

              .fcb-grid {
                .fcb-cell {
                  border: 1px solid #000000;
                  padding: 10px 10px;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  height: 200px;
                  font-family: "Oswald", sans-serif, arial;

                  .fcb-desc {
                    font-family: "mulish", sans-serif, arial;
                    font-weight: normal;
                    font-size: 14px;
                    font-style: italic;
                    line-height: 17px;
                  }

                  &:first-child {
                    color: #0c44d3;
                    border-right: none;
                    border-bottom: none;
                  }

                  &:nth-child(2) {
                    color: #ff0000;
                    border-bottom: none;
                  }

                  &:nth-child(3) {
                    color: #454545;
                    border-right: none;
                  }

                  &:last-child {
                    color: #008600;
                  }
                }
              }

              .ansoff-grid {
                border: 7px double #000000;
                .ansoff-cell {
                  padding: 10px 10px;
                  height: 200px;
                  font-size: 15px;
                  font-weight: 600;
                  font-family: "Oswald", sans-serif, arial;

                  .ansoff-desc {
                    font-family: "mulish", sans-serif, arial;
                    font-weight: normal;
                    font-size: 12px;
                    font-style: italic;
                    line-height: 17px;
                  }

                  &:first-child {
                    color: #065f46;
                    background-color: #ecfdf5;
                    border-right: 1px solid #000000;
                    border-bottom: 1px solid #000000;
                  }

                  &:nth-child(2) {
                    color: #115e59;
                    background-color: #f0fdfa;
                    border-bottom: 1px solid #000000;
                  }

                  &:nth-child(3) {
                    color: rgb(55 48 163);
                    background-color: rgb(238 242 255);
                    border-right: 1px solid #000000;
                  }

                  &:last-child {
                    color: rgb(159 18 57);
                    background-color: rgb(255 241 242);
                  }
                }
              }

              .hierarchy-funnel {
                border: 7px double #000000;
                .funnel-stage {
                  font-size: 15px;
                  padding: 8px 10px;
                  text-align: center;
                  font-weight: 700;
                  border-bottom: 1px solid #000000;

                  &:first-child {
                    background-color: rgb(255, 255, 255);
                  }

                  &:nth-child(2) {
                    background-color: rgb(248 250 252);
                  }

                  &:nth-child(3) {
                    background-color: rgb(241 245 249);
                  }

                  &:nth-child(4) {
                    background-color: rgb(226 232 240);
                  }

                  &:nth-child(5) {
                    background-color: rgb(203 213 225);
                  }

                  &:last-child {
                    border-bottom: none;
                    background-color: rgb(30 41 59);
                    color: #fff;
                  }
                }
              }

              .stp-model {
                .stp-stage {
                  padding: 10px;
                  border: 1px solid #3d3d3d;
                  margin-bottom: 20px;
                  font-weight: bold;
                  background-color: rgb(238, 249, 255);
                  transition: all 0.5s ease;
                  z-index: 1;

                  &:hover {
                    transform: rotate(-2deg);
                    overflow: hidden;
                  }

                  &:first-child {
                    margin-top: 20px;
                  }
                }
              }
            }
          }

          .dialog-footer {
            font-family: mulish, Arial, sans-serif;
            width: 100%;
            padding: 14px 20px;
            border-top: 1px solid #042579;
            background-color: #00afef9a;

            #prevBtn {
              padding: 5px 15px;
              border-radius: 15px;
              background-color: #ec7837;
              border: none;
              font-weight: 500;
              color: #fff;
              font-size: 16px;
              cursor:
                url("images/ball_01.png") 16 16,
                auto !important;
              box-shadow: 1.5px 1.5px #000000;
              transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
              transition-duration: 150ms;
              transition-property: all;

              & {
                img {
                  cursor:
                    url("images/ball_01.png") 16 16,
                    auto !important;
                }
              }

              &:hover {
                box-shadow: none;
                transform: translate(2px, 3px);
              }
            }

            #nextBtn {
              padding: 5px 15px;
              border-radius: 15px;
              background-color: #00aeef;
              border: none;
              font-weight: 500;
              color: #fff;
              font-size: 16px;
              cursor:
                url("images/ball_01.png") 16 16,
                auto !important;
              box-shadow: 1.5px 1.5px #000000;
              transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
              transition-duration: 150ms;
              transition-property: all;

              & {
                img {
                  cursor:
                    url("images/ball_01.png") 16 16,
                    auto !important;
                }
              }

              &:hover {
                box-shadow: none;
                transform: translate(2px, 3px);
              }
            }
          }
        }

        &.open {
          .dialog-content {
            transform: translateX(0);
          }
        }
      }

      .image-zoom-overlay {
        position: fixed;
        inset: 0;
        background: rgba(10, 20, 40, 0.954);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.25s ease;

        img {
          max-width: 90%;
          max-height: 90%;
          border-radius: 10px;
          transform: scale(0.85);
          transition: transform 0.25s ease;
        }

        &.open {
          opacity: 1;
          pointer-events: auto;

          img {
            transform: scale(1);
          }
        }

        /* Close button */
        .image-zoom-close {
          position: absolute;
          top: 24px;
          right: 30px;
          font-size: 28px;
          background: transparent;
          border: none;
          color: #fff;
          cursor: pointer;
        }
      }

      .dropdown-item {
        border-bottom: 1px solid #d6d6d6;
        margin-bottom: 12px;
        cursor:
          url("images/ball_01.png") 16 16,
          auto !important;

        &.open .dropdown-body {
          max-height: 800px;
          opacity: 1;
          padding-top: 12px;
        }

        &.open .dropdown-icon {
          transform: rotate(45deg);
        }
      }

      .dropdown-header {
        width: 100%;
        background: none;
        border: none;
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        cursor:
          url("images/ball_01.png") 16 16,
          auto !important;
      }

      .dropdown-icon {
        font-size: 22px;
        transition: transform 0.25s ease;
      }

      .dropdown-body {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 0.35s ease;
        padding-bottom: 12px;
      }

      .dropdown-desc {
        font-size: 14px;
        margin-bottom: 10px;
        color: #444;
      }

      .dropdown-body img {
        width: 100%;
        border-radius: 6px;
        cursor: zoom-in;
      }

      .watch-now-btn {
        margin: 10px 0;
        background: transparent;
        border: none;
        color: #0c44d3;
        font-weight: 700;
        font-size: 14px;
        cursor: pointer;
        padding: 0;
        width: 100%;
        transition: all 0.5s ease;

        &:hover {
          //text-decoration: underline;
          background: #0c44d357;
          cursor:
            url("images/ball_01.png") 16 16,
            auto !important;
        }
      }

      .watch-now-btn {
        margin-top: 10px;
        padding: 6px 12px;
        border: 1px solid #0c44d3;
        border-radius: 6px;
        background: #fff;
        font-weight: 700;
      }

      @media (max-width: 768px) {
        #flow-svg {
          display: none !important;
        }
      }

      @media (max-width: 768px) {
        #flow-svg path {
          stroke-width: 2;
          opacity: 0.7;
        }
      }
    }
  }
}
